<footer>
        <div class="nav-container">
            <div class="flex content">
                <div class="col">
                    <h6>Les Balades de Découverto</h6>
                    <img src="/icons/144.png" class="logo" alt="Les Balades de Découvertone">
                    <br> Webmaster:
                    <a href="https://cedric-jung.eu/fr/">Cédric JUNG</a>
                </div>
                <div class="col">
                    <h6><a href="/mentions-legales.html">Mentions légales</a></h6>
                    <p>Nom de l’association : Découverto
                        <br>Adresse : 18 rue Bentz-Eck La Hoube 57850 France
                        <br>Adresse mail : <a href="mailto:decouverto@yahoo.com">decouverto@yahoo.com</a>
                        <br>Numéro de téléphone : <a href="tel:+33677567612">0677567612</a>
                        <br>Directeur de la publication (nom du président de l’association) : Vincent Fetter
                        <br>Hébergeur : OVH 2 rue Kellermann 59100 Roubaix France
                    </p>
                </div>
                <nav>
                    <h6>Liens utiles</h6>
                    <a href="https://www.facebook.com/decouverto/">Facebook</a>
                    <a href="/livres">Livres</a>
                    <a href="/admin/login"> Administration</a>
                </nav>
            </div>
        </div>
</footer>
<div class="cookies-warning">En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour réaliser des statistiques de visites.</div>