www.decouverto.fr:443, decouverto.fr:443 {
	tls cedced19@gmail.com
	header /favicon.ico Cache-Control "public, max-age=259200"
	header /stylesheets Cache-Control "public, max-age=259200"
	header /images  Cache-Control "public, max-age=259200"
	header /javascripts Cache-Control "public, max-age=259200"
	header /icons Cache-Control "public, max-age=259200"
	header /fonts Cache-Control "public, max-age=259200"
	header /views Cache-Control "public, max-age=259200"
	proxy / localhost:8000 { 
		except /images /icons /views /fonts /javascripts /stylesheets
	}
	push
	root /www/public
	gzip
	timeouts 2m
}
calendrier.decouverto.fr:443 {
	tls cedced19@gmail.com
	cache
	gzip
	header /favicon.ico Cache-Control "public, max-age=259200"
	header /stylesheets Cache-Control "public, max-age=259200"
	header /images  Cache-Control "public, max-age=259200"
	header /javascripts Cache-Control "public, max-age=259200"
	header /icons Cache-Control "public, max-age=259200"
	header /fonts Cache-Control "public, max-age=259200"
	header /views Cache-Control "public, max-age=259200"
	proxy / localhost:8001 {
		except /views /fonts /javascripts /stylesheets
	}
	root /www-calendar/public
	timeouts 1m	
}
boutique.decouverto.fr:443 {
	tls cedced19@gmail.com
	cache
	gzip
	header /favicon.ico Cache-Control "public, max-age=259200"
	header /stylesheets Cache-Control "public, max-age=259200"
	header /images  Cache-Control "public, max-age=259200"
	header /javascripts Cache-Control "public, max-age=259200"
	header /icons Cache-Control "public, max-age=259200"
	header /fonts Cache-Control "public, max-age=259200"
	header /views Cache-Control "public, max-age=259200"
	proxy / localhost:8002 {
		except /views /fonts /javascripts /stylesheets
	}	
	root /www-shop/public
	timeouts 1m
}
