www.decouverto.fr:443, decouverto.fr:443 {
	tls cedced19@gmail.com
	cache
	proxy / localhost:8000 { 
		except /images /icons /views /fonts /javascripts
		without /calendrier
	}
	root  /www/public
	push / {
		/stylesheets/index-styles.min.css
		/manifest.json
        	/images/screenshot.png
        	/icons/144.png
		/javascripts/index/build.js
	}
	gzip
}
calendrier.decouverto.fr:443 {
	tls cedced19@gmail.com
	cache
	gzip
	proxy / localhost:8001
	root /www-calendar/public
	
}
