[Unit]
Description=Decouverto Website
After=syslog.target network.target mongodb.service

[Service]
ExecStart=/usr/bin/node /www/bin/decouverto-website
Restart=always
RestartSec=10                    
StandardOutput=syslog            
StandardError=syslog                
SyslogIdentifier=decouverto-website
Environment=NODE_ENV=production PORT=8000

[Install]
WantedBy=multi-user.target
