<a class="btn previous" ng-click="$goTo('/list-walks/')">
    <b>‹</b> Retour</a>
<h4>Titre du parcours</h4>
<input type="text" ng-model="walk.title">
<h4>Description du parcours</h4>
<input type="text" ng-model="walk.description">
<h4>Thème du parcours</h4>
<input type="text" ng-model="walk.theme" ng-keyup="checkTheme(walk.theme)">
<p class="warning" ng-if="!existsTheme">Attention, le theme "{{walk.theme}}" n'existe pas encore, vous allez le créer.</p>
<p>Thèmes existants: <span ng-repeat="theme in categories.themes">"{{theme}}"</span></p>
<h4>Secteur du parcours</h4>
<input type="text" ng-model="walk.zone" ng-keyup="checkZone(walk.zone)">
<p class="warning" ng-if="!existsZone">Attention, le secteur "{{walk.zone}}" n'existe pas encore, vous allez le créer.</p>
<p>Secteurs existants: <span ng-repeat="sector in categories.sectors">"{{sector}}" </span></p>
<label class="checkbox-container">Tracé uniquement
    <input type="checkbox" ng-checked="walk.fromBook == 'true'" ng-model="walk.fromBook" ng-true-value="'true'" ng-false-value="'false'">
    <span class="checkmark"></span>
</label>
<a class="btn" ng-click="updateWalk()">Modifier</a>
<h4>QR Code (cliquer dessus pour le télécharger)</h4>
<qrcode data="{{url}}" size="256" download></qrcode>