<a class="btn previous" ng-click="$goTo('/')">
    <b>‹</b> Retour</a>
<a class="btn" ng-click="forceStats()">Forcer l'envoie des statistiques</a>
<h2>Liste des parcours et statistiques</h2>
<p>Il y a aujourd'hui {{walks.length-2}} parcours.</p>
<table ng-show="walks.length">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Téléchargement dans l'application ({{totalApp}})</th>
        <th>Aperçu sur Internet ({{totalWeb}})</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="walk in walks">
        <td>
            {{walk.id}}
        </td>
        <td>
            {{walk.title}}
        </td>
        <td>
            {{(walk.app==null) ? 'indisponible' : walk.app}}
        </td>
        <td>
            {{walk.web}}
        </td>
        <td>
            <div ng-if="walk.app!=null">
                <a class="icon-trash clickable" ng-click="removeWalk(walk.id)"></a>
                <a class="icon-pencil clickable" ng-click="$goTo('/edit-walk/'+walk.id)"></a>
            </div>
        </td>
    </tr>
</table>
<p ng-hide="walks.length">Aucun parcours n'a été publié.</p>
<a class="btn btn-small" ng-click="resetStats()">Remettre à zéro les statistiques</a>