<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Découverto | Documentation d'installation</title>
    <link rel="stylesheet" href="/stylesheets/index-styles.min.css" />
    <link rel="manifest" href="/manifest.json">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#dc3133">
    <meta name="msapplication-navbutton-color" content="#dc3133">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" itemprop="description" content="<%= metas.short_desc %>">
    <meta itemprop="name" content="Découverto | Documentation d'installation">
    <meta name="image" itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta name="og:title" content="Découverto | Documentation d'installation">
    <meta name="og:description" content="<%= metas.short_desc %>">
    <meta name="og:url" content="https://decouverto.fr">
    <meta name="og:site_name" content="Découvero">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>
<body>
    <header class="nav-container">
        <ul class="nav-absolute">
            <li><a href="/">Accueil</a></li>
            <li><a href="https://calendrier.decouverto.fr">Calendrier</a></li>
            <li><a href="/livres/">Livres</a></li>
            <li><a href="https://app.decouverto.fr" target="_blank">Application</a></li>
            <li><a href="https://podcast.decouverto.fr">Podcasts</a></li>
            <li><a href="/rando/">Randonnées</a></li>
        </ul>
        <h1>Découverto</h1>
    </header>
    <section class="content">
        <h2>Comment fonctionne l'application ?</h2>
        <div class="howto">
            <div class="howto-step"><%- metas.app_doc %><a href="https://app.decouverto.fr/" class="btn">Installer l'application</a></div>
            <div class="howto-step">
                <img src="/images/screenshot.png">
            </div>
        </div>
    </section>
    <%- include('includes/footer'); %>
</body>

</html>