body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header.home {
  overflow: hidden;
  background-size:100%;
  background-image: linear-gradient(0deg, #fff 0%, #dc3133 100%);
  background-repeat: no-repeat;
}
header, section, main {
    padding: 3rem;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
a {
  text-decoration: none;
  color: #168ff9;
}
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
h1 {
    margin: 3rem 0;
    top: 0;
}
header.home h1 {
  font-size: 4rem;
  color: #FFF;
  position: relative;
  top: 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  display: block;
  line-height: 1em;
  font-size: 8rem;
  text-transform: uppercase;
}
.banner {
    flex-direction: column;
}
.banner > div {
    position: relative;
    width: 50%;
}
h2 {
    font-size: 4rem;
    font-family: inherit;
    font-weight: 300;
    margin: 3rem auto;
    text-align: center;
    line-height: 1.1em;
}
header.home h2 {
    font-size: 2rem;
    font-weight: normal;
    max-width: 40rem;
    margin: 2rem 0;
    font-family: inherit;
    text-align: left;
    color: #fff;
}
h3 {
  font-size: 25px;
  font-weight: normal;
}
.google-play-button {
  max-width: 55%;
}
.howto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.howto-step {
    padding: 1rem 3rem;
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 400px;
}
.howto-step > p {
  padding: 0.4rem 0;
}
footer .nav-container {
    background-color: #3d3d3d;
    transition: background-color .5s ease-in;
    color: #CCC;
    padding: 3rem;
}
footer .nav-container .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col, footer nav {
    padding: 1rem 2rem 1rem 0;
}
footer .col .logo {
    height: 5rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}
footer .col a {
    text-decoration: underline;
    color: inherit;
}
footer nav a {
    color: inherit;
    display: block;
    margin: .5rem 0;
}
footer h6 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: #FFF;
}
a {
  cursor: pointer;
}
.card {
    background-color: #dfe6e9;
    border-width: 5px;
    border-radius: 3px;
    border-color: #dfe6e9;
    box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 2px rgba(0,0,0,.22);
    margin: 5px;
    padding: 12px;
}
.card a {
    box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 2px rgba(0,0,0,.22);
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: inherit; 
    color: inherit;
    font-size: 1.1rem;
}
.card a:hover {
    background-color: #c7c7c7;
}
.card h4 {
    padding-bottom: 10px;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1em;
}
.card .description {
    padding-top: 5px;
}
@media (max-width: 1000px) {
  .banner {
      flex-direction: column;
  }
  .banner > div {
    width: 100%;
    text-align: center;
  }
  header.home h1 {
    font-size: 3rem;
  }
  h1, header.home h2 {
      text-align: center;
      max-width: none;
  }
}
@media (max-width: 850px){
  header.home h1 {
      font-size: 2.5rem;
      top: 1.5rem;
  }
}
@media (max-width: 600px){
  h2 {
      font-size: 3rem;
      font-weight: bold;
  }
  .howto-step {
      overflow: hidden;
      min-width: 0;
      flex-basis: 100%;
      padding: 0;
  }
}
@media (max-width: 500px){
  .google-play-button {
    max-width: 60%;
  }
}
.howto-step img {
    max-width: 100%;
    border-radius: 3px;
}
.cookies-warning {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    font-size: 1.1rem;
    background-color: #ffeaa7;
    color: #2d3436;
    text-align: center;
 }
::selection {
  background-color: #dc3133;
  color: #fff
}